/* patronList, edit ... */
#header hr {
  margin:0 -10px;
}
.form-control{border-color:#cCC;}

.smaller{ font-size:80%; }

/* colours for fields. BG is very pale */
.fg1 {color:#620;}	/* yellow */
.bg1 {background-color:#FFA;}
.fg2 {color:#518;} /* purple */
.bg2 {background-color:#D9C0FF;}
.bgP {background-color:#cfe2ff !important;} /* primary/info */
.bgS {background-color:#C9D5D5;} /* secondary */
.bgU {background-color:#D1F7DD;} /* success */


/* patronEdit */
td.btns {width:25%;text-align:right;}

li {margin-bottom:5px;}


#notif_container {

}
#notif_container.hover{
	width:50%;
	/* the following is used to float the error message above the text */
	position:absolute;
	top:30%;
	left:10%;
	z-index:100;
}

/* I was going to copy the CSS from Bootstrap: alert, border, border-4 w-50 mt-2 
   but it's too much. */
#notif_msg {
}
